<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHzvx2h2HeE8adxZExlcGkTEoUgT2-QbA</string>
	<key>GCM_SENDER_ID</key>
	<string>1054311131592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vmpa</string>
	<key>PROJECT_ID</key>
	<string>vmpa-4ef89</string>
	<key>STORAGE_BUCKET</key>
	<string>vmpa-4ef89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054311131592:ios:632f30f08f239c0df638fd</string>
</dict>
</plist>